<div >
 <p> Hello World, this is the home page </p>
 <a href="/login"><button class="btns-style" id="login">login</button></a>
  <a href="/logout"><button class="btns-style" id="logout">logout</button></a>

</div>