
<h1> Store</h1>
<div data-embed="store"><script type="text/props">{"action":"add-to-cart","colors":{"buttons":{"background":"#7959c7","text":"#ffffff"},"checkout":{"background":"#7959c7","text":"#ffffff"},"links":"#7959c7"},"modal":true,"showCategories":true,"showPagination":true,"showSearch":true,"squareImages":true,"text":"Add to cart","truncateTitles":true,"url":"https://innaleikina.selz.com"}</script></div>
<script async src="https://embeds.selzstatic.com/1/loader.js"></script>
<noscript><a href="https://innaleikina.selz.com" target="_blank">Add to cart</a></noscript>

{{!-- store needs to make an api call to the selz sets from the backend(?) and then display the item customly and have a player of images from the photoset but include the shop now  --}}